label Usuario:
input(type='text', id='usuario', name='usuario', placeholder='Nombre de Usuario' value=`${user.usuario}`)
label Nombre:
input(type='text', id='nombre', name='nombre', placeholder='Nombre', value=`${user.nombre}`)
label Primer Apellido:
input(type='text', id='primer-apellido', name='primerApellido', placeholder='Primer Apellido', value=`${user.primerApellido}`)
label Segundo Apellido:
input(type='text', id='segundo-apellido', name='segundoApellido', placeholder='Segundo Apellido', value=`${user.segundoApellido}`)
label Password:
input(type='text', id='password', name='password', placeholder='Password', value=`${user.password}`)
input(type='submit')
