extends ../layout

block content
  div(class="row")
    div(class="col-md-12")
      h1 Usuarios del Sistema
      h2 #{user}
      table(class="table")
        thead
          th Nombre de usuario
          th Nombre
          th Primer Apellido
          th Segundo Apellido
          th
            a(class="btn btn-success", href='/users/new') Nuevo
        tbody
          each user in users
            tr
              td #{user.usuario}
              td #{user.nombre}
              td #{user.primerApellido}
              td #{user.segundoApellido}
              td
                a(class="btn btn-primary", href=`/users/${user._id}`) Ver
                a(class="btn btn-warning", href=`/users/${user._id}/edit`) Editar
                form(name='delete-user', id='form-delete-user', method='POST', action=`/users/${user._id}?_method=DELETE`)
                  input(type='submit', class="btn btn-danger", value='Eliminar')
